<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail pizza-card">
            <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">

            <% if(pizza.is_new) { %>
                <span class="label label-danger floating-badge">Нова</span>
                <% } else if(pizza.is_popular) {%>
                    <span class="label label-success floating-badge">Популярна</span>
                    <% } %>


                        <div class="caption row margin">
                            <h3>
                                <%= pizza.title %>
                            </h3>
                            <p style="color: rgb(223, 215, 215);">
                                <%= pizza.type %>
                            </p>
                            <p class="descr">
                                <%= getIngredientsArray(pizza).join(", ") %>
                            </p>
                            <div class="left ">
                                <span>∅   <%= pizza.small_size.size %></span>
                                <span> &#9878; <%= pizza.small_size.weight %></span>
                                <span class="font"> <%= pizza.small_size.price %></span>
                                <span>грн.</span>

                                <a id="buy-small" href="#" class="btn btn-warning ">Купити</a>
                            </div>
                            <div class="right">
                                <span>∅  <%= pizza.big_size.size %>
                                    </span>
                                <span>&#9878;<%= pizza.big_size.weight %></span>
                                <span class="font"><%= pizza.big_size.price %></span>
                                <span>грн.</span>
                                <a id="buy-big" href="#" class="btn btn-warning">Купити</a>
                            </div>
                        </div>
        </div>
    </div>